.TicketForm {
  text-align: center;
  width: 70%;
  height: 10%;
  margin: auto;
  margin-bottom: 3%;
}

.TicketResult {
  width: 70%;
  height: 200%;
  background-color: lightgray;
  padding: 2%;
  border-radius: 20px;
  margin: auto;
}

.TicketResult > p {
  text-align: left;
  font-size: 1.2em;
  font-weight: 600;
}

.TicketResult > p[id='email'] {
  display: block;
  margin: auto;
  margin-bottom: 3%;
  margin-left: 2%;
  margin-top: 0%;
  font-size: 1.1em;
  font-weight: 600;
  width: fit-content;
}

.TicketResult > div[id='dates'] {
  background-color: gray;
  margin: 1.5%;
  padding: 1.5%;
  border-radius: 20px;
  padding-bottom: 5%;
}

.TicketResult > div[id='dates'] p {
  display: block;
  margin-bottom: 2%;
  text-align: center;
  font-weight: 500;
}

.center {
  margin: auto;
  width: 50%;
}