.TicketForm {
  text-align: center;
  width: 30%;
  height: 10%;
  margin: auto;
  margin-bottom: 3%;
}

.TicketResult {
  text-align: center;
  width: 50%;
  height: 200%;
  background-color: lightgray;
  padding: 2%;
  border-radius: 20px;
  margin: auto;
}

.TicketResult > p {
  text-align: left;
  font-size: 1.2em;
  font-weight: 600;
}

.TicketResult > p[id='email'] {
  display: block;
  margin-left: 2%;
  margin-top: 2%;
  font-size: 1.5em;
  font-weight: 600;
}

.TicketResult > div[id='dates'] {
  background-color: gray;
  text-align: center;
  margin: 2.5%;
  padding: 2.5%;
  border-radius: 20px;
}

.TicketResult > div[id='dates'] p {
  display: inline-block;
  margin: -10em;
  font-weight: 600;
}
